.radio-inline,
.checkbox-inline {
  position: relative !important;
  display: inline-block !important;
  padding-left: 30px !important;
  margin-bottom: 0 !important;
  font-weight: 400 !important;
  vertical-align: middle !important;
  cursor: pointer !important;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0 !important;
  margin-left: 10px !important; // space out consecutive inline controls
}