$orange:    hsl(14,  100%, 53%);
$yellow:    hsl(48,  100%, 67%);
$green:     hsl(141, 71%,  48%);
$turquoise: hsl(171, 100%, 41%);
$cyan:      hsl(204, 86%,  53%);
$blue:      hsl(217, 71%,  53%);
$purple:    hsl(271, 100%, 71%);
$red:       hsl(348, 100%, 61%);

// Sidebar
$sidenav-base-width: 250px;
$sidenav-collapsed-width: 55px;
$navbar-base-height: 56px;

// Fonts path
$fa-font-path : '/fonts';